<h1>Welcome <%= @user.name.capitalize %>!</h1>

<% @movies.each do |movie| %>
<br>
<section id = "movie-<%movie.id%>">
   <h2>"<%= movie.title %>"</h2>
  <p>Vote Average: <%= movie.vote_average %></p>
  <p>Description: <%= movie.description %></p>
</section>
<br>
<% end %>
