<h1>Search Results</h1>

<% @results.each do |result| %>
  <br>
  <section id = "movie-<%result[:id]%>">
    <h2> <%= result[:title] %></h2>
    <p> Vote Average: <%= result[:vote_average] %></p>
    <p> Description: <%= result[:overview] %> </p>
  </section>
  <br>
<% end %>
